<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div style="width:400px; border:2px solid #555555;">
  <br />
  <h1>Password Reset</h1>
  <br />
  Enter your email address to reset your password.<br />
  A new password will be emailed to you immediately.<br />
  <br />
  <%= form_tag(reset_password_path, :method => :post, :style => "width:200px; margin:0 auto 0 auto;") do %>
  <table>
    <tr>
      <td>Email:</td>
      <td><%= text_field_tag :email %></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: right;"><%= submit_tag "Reset Password" %></td>
    </tr>
  </table>
  <% end %>
</div>