<%= form_for(@incident) do |f| %>
  <% if @incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

      <ul>
      <% @incident.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :event_type %><br />
    <%= f.text_field :event_type %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :charge_code %><br />
    <%= f.text_field :charge_code %>
  </div>
  <div class="field">
    <%= f.label :override %><br />
    <%= f.text_field :override %>
  </div>
  <div class="field">
    <%= f.label :acres %><br />
    <%= f.text_field :acres %>
  </div>
  <div class="field">
    <%= f.label :fuel_models %><br />
    <%= f.text_field :fuel_models %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :g_cal_event_url %><br />
    <%= f.text_field :g_cal_event_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
