<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @cost_sheet.date %>
</p>

<p>
  <b>Helicopterid:</b>
  <%= @cost_sheet.helicopterId %>
</p>

<p>
  <b>Helibaseid:</b>
  <%= @cost_sheet.helibaseId %>
</p>

<p>
  <b>Chargecode:</b>
  <%= @cost_sheet.chargeCode %>
</p>

<p>
  <b>Override:</b>
  <%= @cost_sheet.override %>
</p>

<p>
  <b>Incidentnumber:</b>
  <%= @cost_sheet.incidentNumber %>
</p>

<p>
  <b>Dailyavailabilityrate:</b>
  <%= @cost_sheet.dailyAvailabilityRate %>
</p>

<p>
  <b>Pilotextstandbyrate:</b>
  <%= @cost_sheet.pilotExtStandbyRate %>
</p>

<p>
  <b>Driverextstandbyrate:</b>
  <%= @cost_sheet.driverExtStandbyRate %>
</p>

<p>
  <b>Mechanicextstandbyrate:</b>
  <%= @cost_sheet.mechanicExtStandbyRate %>
</p>

<p>
  <b>Servicetruckmileagerate:</b>
  <%= @cost_sheet.serviceTruckMileageRate %>
</p>

<p>
  <b>Hmgb:</b>
  <%= @cost_sheet.hmgb %>
</p>

<p>
  <b>Dailyavailabilityqty:</b>
  <%= @cost_sheet.dailyAvailabilityQty %>
</p>

<p>
  <b>Pilotextstandbyqty:</b>
  <%= @cost_sheet.pilotExtStandbyQty %>
</p>

<p>
  <b>Driverextstandbyqty:</b>
  <%= @cost_sheet.driverExtStandbyQty %>
</p>

<p>
  <b>Mechanicextstandbyqty:</b>
  <%= @cost_sheet.mechanicExtStandbyQty %>
</p>

<p>
  <b>Servicetruckmileageqty:</b>
  <%= @cost_sheet.serviceTruckMileageQty %>
</p>

<p>
  <b>Dailyavailabilitytotal:</b>
  <%= @cost_sheet.dailyAvailabilityTotal %>
</p>

<p>
  <b>Pilotextstandbytotal:</b>
  <%= @cost_sheet.pilotExtStandbyTotal %>
</p>

<p>
  <b>Driverextstandbytotal:</b>
  <%= @cost_sheet.driverExtStandbyTotal %>
</p>

<p>
  <b>Mechanicextstandbytotal:</b>
  <%= @cost_sheet.mechanicExtStandbyTotal %>
</p>

<p>
  <b>Servicetruckmileagetotal:</b>
  <%= @cost_sheet.serviceTruckMileageTotal %>
</p>

<p>
  <b>Additionalcostdesc:</b>
  <%= @cost_sheet.additionalCostDesc %>
</p>

<p>
  <b>Additionalcosttotal:</b>
  <%= @cost_sheet.additionalCostTotal %>
</p>

<p>
  <b>Numpilots:</b>
  <%= @cost_sheet.numPilots %>
</p>

<p>
  <b>Numdrivers:</b>
  <%= @cost_sheet.numDrivers %>
</p>

<p>
  <b>Nummechanics:</b>
  <%= @cost_sheet.numMechanics %>
</p>

<p>
  <b>Pax:</b>
  <%= @cost_sheet.pax %>
</p>

<p>
  <b>Watergallons:</b>
  <%= @cost_sheet.waterGallons %>
</p>

<p>
  <b>Cargolbs:</b>
  <%= @cost_sheet.cargoLbs %>
</p>

<p>
  <b>Retardantgallons:</b>
  <%= @cost_sheet.retardantGallons %>
</p>

<p>
  <b>Foamgallons:</b>
  <%= @cost_sheet.foamGallons %>
</p>

<p>
  <b>Acrestreated:</b>
  <%= @cost_sheet.acresTreated %>
</p>

<p>
  <b>Psdballs:</b>
  <%= @cost_sheet.psdBalls %>
</p>

<p>
  <b>Gelgallons:</b>
  <%= @cost_sheet.gelGallons %>
</p>


<%= link_to 'Edit', edit_cost_sheet_path(@cost_sheet) %> |
<%= link_to 'Back', cost_sheets_path %>
