<h1>Listing dandies</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dandies.each do |dandy| %>
      <tr>
        <td>Dandy #<%= dandy.id %> (Shared by:
          <%= dandy.crews.collect {|c| c.abbrev}.join(", ") %>)</td>
        <td><%= link_to 'Show', dandy %></td>
        <td><%= link_to 'Edit', edit_dandy_path(dandy) %></td>
        <td><%= link_to 'Destroy', dandy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dandy', new_dandy_path %>
